*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
section{
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    background-color: hsl(0, 0%, 15%);
    width: auto;
    height: auto;
    padding: 25px;
    border-radius: 10px; 
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.image{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin: 5px;
}
.name{
    font-weight: 600;
    font-size: 22px;
    padding: 3px;
}
.text{
    color: hsl(75, 94%, 57%);
    font-size: 12px;
    font-weight: 400;
    padding: 5px 0px 15px;
}
.text2{
    font-size: 14px;
    font-weight: 400;
    padding: 15px 20px;
}
ul{
    list-style: none;
    width: 100%;
}
ul li{
    width: 90%;
    height: auto;
    background-color: hsl(0, 0%, 20%);
    margin: 15px 5px;
    padding: 9px 10px;
    border-radius: 5px;
    cursor: pointer;
}
ul li a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
ul li:hover{
    background-color: hsl(75, 94%, 57%);
    a{
        color: hsl(0, 0%, 1%);
    }
}